</br>

<h1><%= title %></h1>

</br>
<h1>About: The Project</h1>
<p>
MoodTimer is a collaborative, semester long, code project. By creating this project our team learned many sweet web technologies such as Node.js, the Express framework, jQuery, MongoDB, git, CSS3 and much more. We put an emphasis on writing correct code that was scalable and followed the standards of the web. We avoided things like inline frames and tables instead cleverly using divs and more divs. 
</p></br>

<h1>About: Our Goal</h1>
<p>
We focused on creating a clean and simple product that utilized the modern features of the web. The application uses a lot of AJAX to promote a more comfortable and intuitive environment for the user. A lot of time was also spent making the application as elegant as possible. Our, graphical, goal was to deliver core features and reducing the clutter of the user interface while still delivering a complete product. 
</p></br>

<h1>About: The Building Process</h1>
<p>
It took a great deal of time for us to begin working on the project. But once a code base was established the team quickly came together diligently redesigning the rickety glob of code into the beautiful application you see before you. With technologies like git and skype at our disposal it was effortless to collaborate and contribute.
</p></br>

<h1>About: The Team</h1>
<p>
Hailing from the farthest edges of the know wold three mysterious forces coalesced in the general area of Massachusetts. By a twist of fate the three beings were forced into a circumstance that forced them to bind together or be defeated and shamed for eternity. Facing destiny the humans swore oaths of loyalty and trust to one another, swearing that no man shall bear the great burden alone. 
</p></br>

<p>
Their bond was tested by time. But rather than growing weaker it was tempered by the aging process. Utilizing their strength and harnessing their abilities and determination they now all live in opulence and spender.
</p></br>

<p>
</p></br>

<p>
</p></br>

<p>
</p></br>