</br>

<h1><%= title %></h1>

</br>

<p>
This applicaton was built as a semseter long project for a UMass
Computer Science Web Programming course in the Spring 2012 semester.

</p>
<p>

This application is built on the node.js framework and uses 
Express, MongoDB, and socket.io.

</p>
<p>

It was built by a team or 3 guys called Mad Code Murder.


 </p>