<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/javascripts/createTimerForm.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="newline">
	<div id="duration" class="timerformbutton">1</div>
	<div id="durationminus" class="timerformbutton">-</div>
	<div id="durationplus" class="timerformbutton">+</div>
</div>
<div class="newline">
	<div id="durationseconds" class="timerformbutton">Seconds</div>
	<div id="durationminutes" class="timerformbutton">Minutes</div>
</div>
<div class="newline">
	<input type="text" name="timername" id="timername" title="Timer Description"/>
	<br />Hit enter to create timer.
</div>
<div class="newline">
	<div id="timerformsubmit" class="timerformbutton">Create Timer</div>
</div>