</br>

<h1><%= title %></h1>

</br>

<p> Are you confused by MoodTimer? We are here to help! </p>

</br> 

<h2> User Creation </h2>

<p> - To use MoodTimer you must create an account. </p>
<p> - Simply enter a username and password. </p>
<p> - If the username is already taken, you will be promted to try again. </p>

</br> 

<h2> User Login </h2>
<p> - Once you have an account simply log in with your username and password. </p>
<p> - If you tyoe either your username or password in incorrectly you will be notified to try again. </p>

</br> 

<h2> Adding a Timer </h2>
<p> - To add a timer click on the + button in the right pane. </p>
<p> - Use the + and - buttons to select the duration of the timer. </p>
<p> - Select Minutes or Seconds and add a comment in the box below. </p>
<p> - Click the "Create Timer" button or hit enter to create the new timer. </p>

</br> 

<h2> Setting the Mood </h2>
<p> - To set the mood of the timers type your mood into the text box to the right of the blue music icon and hit enter. </p>
<p> - A playlist of songs will begin to play based on the mood you entered. </p>
<p> - The current song can be skipped or paused using the controls on the YouTube player. </p>
<p> - To change the mood simply type another mood into the text box and hit enter. </p>

</br>

<h2> Restarting a Timer </h2>
<p> - To restart a timer click on the round purple circular arrow button. </p>

</br> 

<h2> Deleting a Timer </h2>
<p> - To delete a timer click on the round red X button. </p>
<p> - Allow the timer to fade away fully before trying to delete another timer. </p>

</br> 

<h2> Logging Out </h2>
<p> - You can log out from any page by clicking on the "Logout" button at the top right of the page. </p>

</br>




