

<h1> Welcome to MoodTimer! </h1>


<form name="logout" action="/logout" method="post" onsubmit=return validateCreate()">
  
			<button name="subject" type="submit" value="Logout">Log Out</button>

			</form>


<p>Greetings <%= title %>!</p>

<div id="timers"></div>

<div id="newtimer" class="timerformbutton">+</div>