
</br>
<h1> Welcome! </h1>
</br>

<p> </p>

<div id="timers"></div>

<div id="newtimer" class="timerformbutton">+</div>

<div id="main">

</br>
	
	<p>To play music based on your mood:</p>
	<p>Type your mood in the box below, then hit enter.</p>

	
	<div id="input">

		<textarea rows="1" cols="55" id="message" type="text" title="Type in your mood, hit enter and wait a moment." size=""></textarea> 

	</div>
	<br>
		<div id="video"></div>

</div>