

<h1> Welcome to MoodTimer! </h1>


<form name="logout" action="/logout" method="post" onsubmit=return validateCreate()">
  
			<button name="subject" type="submit" value="Logout">Log Out</button>

			</form>


<p>Greetings <%= title %>!</p>

<div id="timers"></div>

<div id="newtimer" class="timerformbutton">+</div>

<div id="main">
	
	<p>To play music based on your mood type your mood in the box below, then hit enter.</p>

	
	<div id="input">

		<textarea rows="1" cols="55" id="message" type="text" title="Type in your mood, hit enter and wait a moment." size=""></textarea> 

	</div>
	<br>
		<div id="video"></div>

</div>