<div class="bodycontent">

	<div id="timers"></div>

</div>

<div class="sidebar">
	<div class="createtimerarea">
		<p>Create new timer:</p>
		<div id="newtimer" class="timerformbutton">+</div>
	</div>

	</br>
		
	<div class="moodmusicarea">
		<p>Play music based on your mood:</p>
		<div id="input">
			<textarea rows="1" cols="40" id="message" type="text" title="Type in your mood, hit enter and wait a moment." size=""></textarea>
		</div>
		<br>
			<div id="video"></div>
	</div>
</div>
