</br>
<h2><%= title %></h2>
<div class='login-form'>
<form name="register" action="/validateregister" method="post" onsubmit="return validateCreate()">
	<input type="text" name="name" placeholder="Username" /> </br>
	<input type="password" name="password1" placeholder="Password" /></br>
	<input type="password" name="password2" placeholder="Confirm Password" /></br>
	<input type="submit" value="Sign up">
</form> 
</div>
<h2> Login </h2>
<div class='login-form'>
<form name="login" action="/validatelogin" method="post" onsubmit="return validateCreate()">
	<input type="text" name="usname" placeholder="Username" /> </br>
	<input type="password" name="password3" placeholder="Password" />
	<input type="submit" value="Sign in">
</form> 
</div>