body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* ---------------------------------- Lightbox Styles  ---------------------------------- */
#lightbox {
	background:#333;
	height:100%;
	width:100%;
	z-index:1000;
	position:absolute;
	float:left;
	opacity: 0.5;
}
#lightboxcore {
	background:#FFF;
	z-index:1001;
	border:thick solid #009;
	padding:10px;
	position:absolute;
	
	border-radius: 15px;
}

/* ---------------------------------- Timer Creation form styles  ---------------------------------- */
.timerformbutton {
	height:60px;
	width:60px;
	float:left;
	border:thin solid #000;
	text-align:center;
	vertical-align:middle;
	font-size:45px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor:pointer;
	cursor:hannd;
}
#durationminutes {
	width: 300px;
}
#durationseconds {
	width: 300px;
	background:#09F;
}
#timerformsubmit {
	width: 500px;
}
.newline {
	width:100%;
	float:left;
	margin:0 0 15px 0;
}