body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#lightbox {
	background:#333;
	height:100%;
	width:100%;
	z-index:1000;
	position:absolute;
	float:left;
	opacity: 0.5;
}
#lightboxcore {
	background:#FFF;
	z-index:1001;
	border:thick solid #009;
	padding:10px;
	position:absolute;
	
	border-radius: 15px;

}