<div id="main">
	
	<h1><%= title %></h1><p>Embeds iframe with a first result for the query "<i>keyword</i> music, playlist."</p>
	<p>Looking for <div id="status">music</div>, click to switch.</p>

	
	<div id="input">

		<textarea rows="2" cols="70" id="message" type="text" title="Choose any  keyword..." size=""></textarea> 

	</div>
	<br>
		<button type="submit" id="send">Send</button>
		<div id="video"></div>

</div>
